In [9]:
import numpy as np
import pandas as pd
foodagric = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv?raw=true.csv', encoding = 'latin-1')

In [10]:
foodagric

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [11]:
foodagric.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [12]:
foodagric.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [16]:
foodagric.groupby('Y2014')['Y2014'].count()
foodagric[['Y2014']] = foodagric[['Y2014']].fillna(value='0')

In [18]:
foodagric.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014              0
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [19]:
foodagric.groupby('Y2014')['Y2014'].count()

Y2014
-1796.0        1
-1631.0        1
-849.0         2
-838.0         1
-685.0         1
            ...
98094.0        1
108756.0       1
109593.0       1
176405.0       1
0           1589
Name: Y2014, Length: 4494, dtype: int64

In [27]:
foodagric1 = foodagric.iloc[0:15000].reset_index(drop=True)
print(foodagric1)

       Area Code           Area  Item Code                     Item  \
0              4        Algeria       2501               Population
1              4        Algeria       2501               Population
2              4        Algeria       2901              Grand Total
3              4        Algeria       2901              Grand Total
4              4        Algeria       2901              Grand Total
...          ...            ...        ...                      ...
14995        107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter
14996        107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter
14997        107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter
14998        107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter
14999        107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter

       Element Code                                 Element             Unit  \
0               511           Total Population - Both sexes     1000 persons
1              5301                Domestic supply quantity      1000 tonnes
2               664           Food supply (kcal/capita/day)  kcal/capita/day
3               674  Protein supply quantity (g/capita/day)     g/capita/day
4               684      Fat supply quantity (g/capita/day)     g/capita/day
...             ...                                     ...              ...
14995          5170                               Residuals      1000 tonnes
14996          5142                                    Food      1000 tonnes
14997           645     Food supply quantity (kg/capita/yr)               kg
14998           664           Food supply (kcal/capita/day)  kcal/capita/day
14999           674  Protein supply quantity (g/capita/day)     g/capita/day

         Y2014     Y2015     Y2016     Y2017     Y2018
0      38924.0  39728.00  40551.00  41389.00  42228.00
1          0.0      0.00      0.00      0.00      0.00
2       3377.0   3379.00   3372.00   3341.00   3322.00
3         94.9     94.35     94.72     92.82     91.83
4        80.06     79.36     77.40     80.19     77.28
...        ...       ...       ...       ...       ...
14995      0.0      0.00      0.00      0.00      0.00
14996     32.0     33.00     31.00     31.00     28.00
14997     1.41      1.42      1.30      1.28      1.12
14998     12.0     14.00     12.00     10.00     10.00
14999     0.62      0.72      0.66      0.54      0.54

[15000 rows x 12 columns]

In [28]:
foodagric2 = foodagric.iloc[15000:].reset_index(drop=True)
print(foodagric2)

       Area Code           Area  Item Code                     Item  \
0            107  CÃ´te d'Ivoire       2848  Milk - Excluding Butter
1            107  CÃ´te d'Ivoire       2960            Fish, Seafood
2            107  CÃ´te d'Ivoire       2960            Fish, Seafood
3            107  CÃ´te d'Ivoire       2960            Fish, Seafood
4            107  CÃ´te d'Ivoire       2960            Fish, Seafood
...          ...            ...        ...                      ...
45938        181       Zimbabwe       2899            Miscellaneous
45939        181       Zimbabwe       2899            Miscellaneous
45940        181       Zimbabwe       2899            Miscellaneous
45941        181       Zimbabwe       2899            Miscellaneous
45942        181       Zimbabwe       2899            Miscellaneous

       Element Code                                 Element             Unit  \
0               684      Fat supply quantity (g/capita/day)     g/capita/day
1              5511                              Production      1000 tonnes
2              5611                         Import Quantity      1000 tonnes
3              5072                         Stock Variation      1000 tonnes
4              5911                         Export Quantity      1000 tonnes
...             ...                                     ...              ...
45938          5142                                    Food      1000 tonnes
45939           645     Food supply quantity (kg/capita/yr)               kg
45940           664           Food supply (kcal/capita/day)  kcal/capita/day
45941           674  Protein supply quantity (g/capita/day)     g/capita/day
45942           684      Fat supply quantity (g/capita/day)     g/capita/day

        Y2014   Y2015   Y2016   Y2017   Y2018
0        0.58    0.66    0.58    0.46    0.43
1       79.01   67.56   72.20   80.42   80.42
2      350.29  431.94  422.73  492.10  492.10
3         0.0    0.00    0.00    0.00    0.00
4       55.02   73.17   55.50   62.21   62.21
...       ...     ...     ...     ...     ...
45938    42.0   46.00   33.00   19.00   16.00
45939    3.06    3.33    2.35    1.33    1.08
45940     3.0    4.00    3.00    1.00    1.00
45941     0.1    0.11    0.08    0.04    0.04
45942    0.04    0.05    0.03    0.02    0.01

[45943 rows x 12 columns]

In [29]:
len(foodagric)

60943

In [31]:
assert len(foodagric) == (len(foodagric1)+len(foodagric2))

In [32]:
pd.merge(foodagric1, foodagric2, how='inner')

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [33]:
pd.merge(foodagric1, foodagric2, how='outer')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.0,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.0,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.1,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [34]:
pd.merge(foodagric1, foodagric2, how='left')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,107,CÃ´te d'Ivoire,2848,Milk - Excluding Butter,5170,Residuals,1000 tonnes,0.0,0.00,0.00,0.00,0.00
14996,107,CÃ´te d'Ivoire,2848,Milk - Excluding Butter,5142,Food,1000 tonnes,32.0,33.00,31.00,31.00,28.00
14997,107,CÃ´te d'Ivoire,2848,Milk - Excluding Butter,645,Food supply quantity (kg/capita/yr),kg,1.41,1.42,1.30,1.28,1.12
14998,107,CÃ´te d'Ivoire,2848,Milk - Excluding Butter,664,Food supply (kcal/capita/day),kcal/capita/day,12.0,14.00,12.00,10.00,10.00
14999,107,CÃ´te d'Ivoire,2848,Milk - Excluding Butter,674,Protein supply quantity (g/capita/day),g/capita/day,0.62,0.72,0.66,0.54,0.54

In [35]:
pd.concat([foodagric, data_to_concat]).reset_index(drop=True)

NameError: name 'data_to_concat' is not defined

In [36]:
foodagric.duplicated().any()

False